* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Baskerville", sans-serif;
  font-family: "Baskerville BT", sans-serif;
}

/*HEADER*/
header {
  text-decoration: none;
  width: 100%;
  background-color: #006241;
  background-image: url(imagenes/verde.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  padding: 10px;
  position: fixed;
  box-shadow: -20px 0px 19px -11px #d7fcfd inset;
  -webkit-box-shadow: -20px 0px 19px -11px #d7fcfd inset;
  -moz-box-shadow: -20px 0px 19px -11px #d7fcfd inset;
  z-index: 4;
}

li {
  list-style: none;
}

a:hover {
  color: #7aebf3;
  cursor: pointer;
}

a {
  text-decoration: none;
}

.flex-nav {
  display: flex;
  justify-content: flex-end;
}

.flex-nav li {
  padding: 20px;
  margin: 10px;
  font-size: 15px;
  font-weight: bold;
  letter-spacing: 2px;
}

a {
  color: #ebaa20;
}

.contact a {
  background-color: #7aebf3;
  border-radius: 100em;
  padding: 20px;
  color: #006241;
}

/*PRESENTACION*/
.part1-presentation {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
  height: 700px;
  background-image: url(imagenes/fondo.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-color: #fdfad3;
  box-shadow: -20px 0px 19px -11px #d7fcfd inset;
  -webkit-box-shadow: -20px 0px 19px -11px #d7fcfd inset;
  -moz-box-shadow: -20px 0px 19px -11px #d7fcfd inset;
}

.part1 {
  display: flex;
  flex-direction: column;
}

#world {
  border-radius: 250px;
  padding: 5px;
  height: 25em;
  width: 25em;
  background-color: rgb(238, 252, 246);
}

.part1 h1 {
  padding: 5px;
  font-size: 70px;
  color: #006241;
  margin: 10px;
  font-family: "Scoder Hand", sans-serif;
}

.part1 button {
  border-radius: 100px;
  border: 1px solid #ebaa20;
  padding: 10px;
  margin: 30px;
  align-self: center;
  height: 50px;
  width: 150px;
  color: #ebaa20;
  background-color: #00412b;
}

.part1 h2 {
  margin: 20px;
  font-size: 3em;
  padding: 5px;
  color: #013323;
}

.part1 button:hover {
  color: #7aebf3;
  border: 2px solid #7aebf3;
  transform: scale(1);
  font-weight: bold;
}

/*CONOCIMIENTOS*/
.part2 {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #faf6c1;
  padding: 60px;
  box-shadow: -20px 0px 19px -11px #d7fcfd inset;
  -webkit-box-shadow: -20px 0px 19px -11px #d7fcfd inset;
  -moz-box-shadow: -20px 0px 19px -11px #d7fcfd inset;
}

.part2 h2 {
  margin: 20px;
  font-size: 45px;
  padding: 5px;
}

.part2 p {
  text-align: center;
  font-size: 1em;
  padding: 1px;
}

.container-conocimientos {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 80%;
}

.container-conocimientos div:hover {
  transform: scale(1.1);
  border: 2px solid #7aebf3;
}

.container-conocimientos div {
  margin: 15px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 2px solid rgb(5, 110, 49);
  height: 180px;
  width: 220px;
  text-align: center;
  font-size: 1em;
  border-radius: 15px;
  background-color: #faf1cd;
}

.fa-brands {
  font-size: 100px;
  padding: 15px;
}

.fa-html5 {
  color: #006241;
}

.fa-css3-alt {
  color: #269ae7;
}

.fa-sass {
  color: #49b96b;
}

.fa-js {
  color: #ebaa20;
}

.fa-react {
  color: #7e0c9b;
}

.fa-git-alt {
  color: #d81610;
}

.container-conocimientos div:hover {
  border: 2px solid #7aebf3;
  color: #006241;
}

/*FRASE*/
.part3-frase {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  padding: 130px;
  background-image: url(imagenes/fondo3.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  color: #006241;
  font-size: 70px;
  box-shadow: -20px 0px 19px -11px #d7fcfd inset;
  -webkit-box-shadow: -20px 0px 19px -11px #d7fcfd inset;
  -moz-box-shadow: -20px 0px 19px -11px #d7fcfd inset;
}

.part3-frase p {
  padding: 50px;
}

.part3-frase h2 {
  font-size: 40px;
}

.fa-quote-right {
  color: #ebaa20;
  font-size: 100px;
}

/*MIS PROYECTOS*/
.part4-proyectos {
  min-height: 100vh;
  padding: 60px;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  background-color: #fffebb;
  box-shadow: -20px 0px 19px -11px #d7fcfd inset;
  -webkit-box-shadow: -20px 0px 19px -11px #d7fcfd inset;
  -moz-box-shadow: -20px 0px 19px -11px #d7fcfd inset;
}

.part4-proyectos h2 {
  margin: 30px;
  font-size: 50px;
}

.part4-proyectos p {
  padding: 20px;
  font-size: 1em;
}

.container-proyectos {
  display: flex;
  flex-wrap: wrap;
  width: 80%;
  justify-content: center;
}

.container-proyectos div {
  margin: 25px;
  padding: 25px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 3px solid #006241;
  width: 250px;
  height: 250px;
  text-align: center;
  font-size: 1em;
  color: #006241;
  border-radius: 10px;
  background-color: white;
}

.container-proyectos div:hover {
  transform: scale(1.1);
  border: 2px solid #ebaa20;
}

.project-portfolio img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

.project-generadormemes img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

.project-match3 img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

.project-controladordegastos img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

.project-administradordereuniones img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

.project-todoapp img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

.project-buscadordepeliculas img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

/*CONTACTO*/
.part5-contact {
  background-image: url(imagenes/fondo.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  box-shadow: -20px 0px 19px -11px #d7fcfd inset;
  -webkit-box-shadow: -20px 0px 19px -11px #d7fcfd inset;
  -moz-box-shadow: -20px 0px 19px -11px #d7fcfd inset;
}

.content-contact {
  display: flex;
  justify-content: space-around;
  min-height: 80vh;
  padding: 80px;
}

.container-contact {
  padding: 10px;
  margin: 10px;
}

.part5-contact h2 {
  font-size: 50px;
}

.redes {
  margin: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.container-contact li a {
  padding: 10px;
  margin: 10px;
  border: 2px solid #006241;
  border-radius: 150px;
  color: #006241;
}

.redes a i {
  margin: 10px;
  padding: 10px;
  color: #006241;
}

.container-contact li a:hover {
  border: 2.5px solid #006241;
  transform: scale(2);
  box-shadow: 10px;
  color: #269ae7;
}

.icon {
  font-size: 25px;
  color: #620062;
}

/*FORM*/
.container-form {
  padding: 10px;
  margin: 10px;
}

.name-form {
  display: flex;
  align-items: center;
  margin: 10px;
}

#iname,
#isurname {
  border-radius: 150px;
  border: 2px solid #006241;
  margin: 10px;
  padding: 8px;
}

#iemail {
  width: 100%;
  max-height: 50px;
  border-radius: 30px;
  border: 2px solid #006241;
  padding: 8px;
  margin-bottom: 15px;
}

#message {
  width: 100%;
  max-height: 350px;
  min-height: 150px;
  border-radius: 30px;
  border: 2px solid #006241;
  padding: 8px;
  margin-bottom: 15px;
}

.buttom-form {
  text-align: center;
  padding: 10px 40px;
  color: #ebaa20;
  background-color: #006241;
  border-radius: 100px;
  border: 2px solid #ebaa20;
  cursor: pointer;
}

.name-form #iname:hover,
.name-form #isurname:hover,
input:hover,
textarea:hover {
  background-color: #7aebf3;
}

/*FOOTER*/
footer {
  padding: 50px;
  background-image: url(imagenes/verde.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  box-shadow: -20px 0px 19px -11px #d7fcfd inset;
  -webkit-box-shadow: -20px 0px 19px -11px #d7fcfd inset;
  -moz-box-shadow: -20px 0px 19px -11px #d7fcfd inset;
}

.part6-footer {
  display: flex;
  justify-content: center;
}

.part6-footer li {
  margin: 15px;
}

.footer-redes {
  display: flex;
  justify-content: center;
  padding: 30px;
}

.footer-redes li a i {
  padding: 0%;
  margin: 10px;
  color: #ebaa20;
  flex-direction: column;
}

.footer-frase {
  display: flex;
  justify-content: center;
  color: #269ae7;
  font-weight: none;
}

/*RESPONSIVE DESIGN TABLET*/
@media (min-width: 480px) and (max-width: 880px) {
  .part1-presentation {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-bottom: 50px;
    padding-top: 80px;
  }

  .part1 {
    width: 100%;
    margin-right: 50px;
  }

  .part1 h2 {
    font-size: 30px;
  }

  .part1 h1 {
    font-size: 50px;
  }

  .imagepart1 {
    margin-left: 100px;
  }

  #world {
    width: 300px;
    height: 300px;
  }

  .content-contact {
    flex-direction: column;
    padding: 50px;
  }

  .redes li a {
    font-size: 15px;
  }

  .container-form h2 {
    margin: 60px;
  }

  .part6-footer {
    display: none;
  }
}

/* RESPONSIVE DESIGN MOBILE*/
@media screen and (min-width: 320px) and (max-width: 480px) {
  header {
    display: none;
  }

  .part1-presentation {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-bottom: 50px;
    padding-top: 80px;
  }

  .part1 {
    width: 100%;
  }

  .part1 h2 {
    font-size: 30px;
  }

  .part1 h1 {
    font-size: 50px;
  }

  #world {
    width: 150px;
    height: 150px;
  }

  .content-contact {
    flex-direction: column;
    padding: 50px;
    align-items: center;
  }

  .redes li a {
    font-size: 10px;
  }

  .icon {
    font-size: 18px;
  }

  .form {
    display: flex;
    flex-direction: column;
  }

  .name-form {
    flex-direction: column;
  }

  .part6-footer {
    display: none;
  }
}
